# Node.js dependencies
node_modules/

# Output directories
dist/

# TypeScript cache
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
*.swp

# Environment variables
.env
.env.local
.env.*.local

# Miscellaneous
*.bak
*.tmp